In [1]:
#Basics
print("Hello World!")

Hello World!

In [2]:
print("It's so easy")

It's so easy

In [3]:
#Variables in Python

In [4]:
name = "Swastika"
#If you run it, a variable called name is formed inside which Swastika string is stored

In [5]:
age = 99
#If you run it, age variable is created inside which 99 value is stored

In [6]:
print(id(age))

140521564736816

In [7]:
x = 99
print(id(x))

140521564736816

In [8]:
#Variable naming rule

In [9]:
na%me = "Swastika"
#'%' is not allowed in variable naming

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3241162270.py, line 1)

In [10]:
na1me = "Swastika"
#It will run properly

In [11]:
na_me = "Swastika"
#It will run properly

In [12]:
1age = 99
#can't start variable name with numbers
#syntax error shows

SyntaxError: invalid decimal literal (4151084452.py, line 1)

In [13]:
_age = 99
#It will run properly

In [14]:
#Variable naming Rule2(case sensitive)
a = 21
A = 22
print(a)
print(A)

21
22

In [15]:
#Variable naming Rule3(avoid using keywords)
def = 99
#If you run it shows syntax error

SyntaxError: invalid syntax (4272953044.py, line 2)

In [16]:
def1 = 99
#def1 is not a reserved keyword...so it will run properly

In [17]:
#Variable naming Rule4(variable should be a single word)
my name = "Swastika"
#It shows error as there is space in variable name

SyntaxError: invalid syntax (714773996.py, line 2)

In [18]:
my_name = "Swastika"
#It will run properly

In [19]:
#comments in Python:
#This is a single line comment
print("Hello")

Hello

In [20]:
'''
 This is the first line of comment
 This is the second line of comment
 This is the third line of comment
'''

'\n This is the first line of comment\n This is the second line of comment\n This is the third line of comment\n'

In [21]:
#input() method:
input()

 Swastika

'Swastika'

In [22]:
input()

 5

'5'

In [23]:
name = input()
print(name)

 Swastika

Swastika

In [24]:
age = input("Please sir, enter your age in years")

Please sir, enter your age in years 99

In [25]:
print(age)

99

In [26]:
#Output in the world of python:
print("I am Swastika")

I am Swastika

In [27]:
name = "Swastika"
age = 99
print("Hello, my name is ",name,"and my age is ",age)

Hello, my name is  Swastika and my age is  99

In [28]:
#Formatted string in Python

In [29]:
print(f"My name is {name} and age is {age}")

My name is Swastika and age is 99

In [30]:
#If you want to print 3 variables with comma seperated values

In [31]:
x = 2
y = 3
z = 4
print(x,y,z, sep = ",")

2,3,4

In [32]:
x = 2
y = 3
z = 4
print(x,y,z, sep = "$")

2$3$4

In [33]:
print("Hello")
print("World")
print("!")

Hello
World
!

In [34]:
#3 print statements prints 3 different lines

In [35]:
#If you want to print-> Hello World! (in 1 line)

In [1]:
print("Hello", end = " ")
print("World", end = " ")
print("!")

Hello World !