In [1]:
#Dictionary
#It stores data in the form of a (key, value) pair
#unordered
#mutable
#key has to be unique
#Heterogeneous data

In [2]:
students_details = {'name':'Vishwa','age':21,'city':'Bangalore'}
print(students_details)
print(type(students_details))

{'name': 'Vishwa', 'age': 21, 'city': 'Bangalore'}
<class 'dict'>

In [3]:
#Method 1 of making dictionary
dict1 = {1:"Vishwa",2:"Mohan",True:"Love"}
print(dict1)

{1: 'Love', 2: 'Mohan'}

In [4]:
#In Python, 1 is considered to be True value.
#1 and True are same thing
#So in place of Vishwa, value is updated to Love

In [5]:
dict1 = {3:"Vishwa",2:"Mohan",True:"Love"}
print(dict1)

{3: 'Vishwa', 2: 'Mohan', True: 'Love'}

In [6]:
#Method 2 of making dictionary:
#Dictionary constructor method: dict()
dict1 = dict(name = "Vishwa", age = "Mohan")
print(dict1)
print(type(dict1))

{'name': 'Vishwa', 'age': 'Mohan'}
<class 'dict'>

In [7]:
dict1 = dict(name = "Vishwa", age = "Mohan", True = "Love")
#Syntax Error: can't use 'True' keyword as the name of a variable

SyntaxError: cannot assign to True (1998465956.py, line 1)

In [8]:
#Access the elements of the dictionary:
students_details = {'name':'Vishwa','age':21,'city':'Bangalore'}
print(students_details['name'])

Vishwa

In [9]:
print(students_details['city'])

Bangalore

In [10]:
students_details = {'name':'Vishwa','age':21,'city':'Bangalore'}
print(students_details.keys())
print(students_details.values())
print(students_details.items())

dict_keys(['name', 'age', 'city'])
dict_values(['Vishwa', 21, 'Bangalore'])
dict_items([('name', 'Vishwa'), ('age', 21), ('city', 'Bangalore')])

In [11]:
students_details = {'name':'Vishwa','age':21,'city':'Bangalore'}
students_details['country'] = "India"
print(students_details)

{'name': 'Vishwa', 'age': 21, 'city': 'Bangalore', 'country': 'India'}

In [12]:
students_details = {'name':'Vishwa','age':21,'city':'Bangalore'}
marks_details = {'English':100,'Maths':78,'Science':92}
students_details.update(marks_details)
print(students_details)

{'name': 'Vishwa', 'age': 21, 'city': 'Bangalore', 'English': 100, 'Maths': 78, 'Science': 92}

In [13]:
print(students_details.pop('city'))
print(students_details)

Bangalore
{'name': 'Vishwa', 'age': 21, 'English': 100, 'Maths': 78, 'Science': 92}

In [14]:
print(students_details.popitem())
print(students_details)

('Science', 92)
{'name': 'Vishwa', 'age': 21, 'English': 100, 'Maths': 78}

In [15]:
#Using delete key word
del students_details['age']
print(students_details)

{'name': 'Vishwa', 'English': 100, 'Maths': 78}

In [16]:
students_details.clear()
print(students_details) #this prints an empty dictionary

{}