In [1]:
#Type of data:
#1)Numerical[Integer,Float,Complex]
#2)Sequence[String,List,Tuple]
#3)Boolean[True,False]
#4)Dictionary
#5)Set

In [3]:
#Numerical Data Type
x = 5
print(x)
print(type(x))

5
<class 'int'>

In [4]:
price = 26.25
print(price)
print(type(price))

26.25
<class 'float'>

In [5]:
num = 3e6
print(num)
print(type(num))

3000000.0
<class 'float'>

In [6]:
z = 4 + 5j
print(z)
print(type(z))

(4+5j)
<class 'complex'>

In [7]:
#inbuilt functions

In [8]:
print(abs(-5))

5

In [9]:
print(pow(2,3))
#Two arguments are there 2 and 3 this means-> 2 raised to the power 3

8

In [10]:
print(round(4.75))

5

In [11]:
print(round(4.5))

4

In [12]:
nums = [3,1,5,7,9,1]
print(min(nums))
print(max(nums))
print(sum(nums))

1
9
26

In [13]:
#Sequence Data Type

In [14]:
#List
students = ["Mohan","Vishwa","Shivani","Sakshi"]
print(students)
print(type(students))

['Mohan', 'Vishwa', 'Shivani', 'Sakshi']
<class 'list'>

In [15]:
list2 = list(students)
print(list2)

['Mohan', 'Vishwa', 'Shivani', 'Sakshi']

In [16]:
list3 = list("Vishwa")
print(list3)

['V', 'i', 's', 'h', 'w', 'a']

In [17]:
list4 = list((3,4,"Vishwa"))
print(list4)

[3, 4, 'Vishwa']

In [18]:
#Accessing the elements of the list:

In [19]:
l1 = [1,3,9,2,5,6,7]
print(l1[3])
print(l1[-4])
print(l1[-6])

2
2
3

In [20]:
arr = [3,2,1,5,9]
arr.append(11) #insert at the end
print(arr)

[3, 2, 1, 5, 9, 11]

In [21]:
arr.insert(3,43) #3rd index value 43
print(arr)

[3, 2, 1, 43, 5, 9, 11]

In [22]:
l1 = [1,2]
l2 = ["Vishwa","Mohan"]
l1.extend(l2)
print(l1)

[1, 2, 'Vishwa', 'Mohan']

In [23]:
arr = [3,5,2,1,9]
arr.remove(1)
print(arr)

[3, 5, 2, 9]

In [24]:
arr = [3,5,2,1,9,1,8,1]
arr.remove(1) #1st occurrence(means from left) of 1 is removed
print(arr)

[3, 5, 2, 9, 1, 8, 1]

In [25]:
arr = [3,1,7,9,11,23,45]
print(arr.pop()) #last element is printed
print(arr)  #without last element the list is printed

45
[3, 1, 7, 9, 11, 23]

In [26]:
arr = [3,1,7,9,11,23,45]
arr.pop(2)  #element of the 2nd index is printed->7
print(arr) #without the element of the 2nd index the list is printed

[3, 1, 9, 11, 23, 45]

In [27]:
students = ['a','b','c','d','e']
students[3] = 'f'
print(students)

['a', 'b', 'c', 'f', 'e']

In [28]:
students = ['a','b','c','d','e']
students[1:4] = 'm','n','o'
print(students)

['a', 'm', 'n', 'o', 'e']

In [29]:
students = ['a','b','c','d','e']
students[1:4] = 'm','n'
print(students)

['a', 'm', 'n', 'e']

In [30]:
l1 = [1,2,3,4,5]
l1.reverse()
print(l1)

[5, 4, 3, 2, 1]

In [31]:
l1_copy = l1.copy()
print(l1_copy)

[5, 4, 3, 2, 1]

In [33]:
l1_copy = l1.copy()
print(l1_copy)
print(l1)
print(id(l1_copy),id(l1))

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]
139803539872384 139803539767424

In [34]:
#Though l1 and l1_copy both prints same list, there id are different

In [35]:
l1.sort()
print(l1)

[1, 2, 3, 4, 5]