In [1]:
#Tuple
#Tuples can be made by 2 methods:
#i)Making tuple using normal brackets
#ii)Constructor method

#Type1: Making tuple using normal brackets
tup1 = (3,6,1,9,10)
print(tup1)
print(type(tup1))

(3, 6, 1, 9, 10)
<class 'tuple'>

In [2]:
#Type2:Constructor method
#You can make tuple from another list or string or
#tuple just by using tuple() constructor.

t1 = tuple([1,2,4])
#Making tuple from list
print(t1)

(1, 2, 4)

In [3]:
t2 = tuple("Vishwa")
t3 = tuple(tup1)
print(t2,t3)

('V', 'i', 's', 'h', 'w', 'a') (3, 6, 1, 9, 10)

In [4]:
#Suppose I have to make tuple by 1 element
t = (35)
print(type(t))

<class 'int'>

In [5]:
#This will be considered as an integer because if you want to make a tuple with 1 element,
#then you have to put a comma(,) after the 1st element.

t = (35,)
print(type(t))

<class 'tuple'>

In [6]:
fruits = ('apple','mango','banana','apple','mango','apple','strawberry')
print(fruits.count('apple'))

3

In [7]:
fruits = ('apple','mango','banana','apple','mango','apple','strawberry')
print(fruits.count('jackfruit'))

0

In [8]:
print(fruits.index('jackfruit'))

ValueError: tuple.index(x): x not in tuple

In [9]:
print(fruits.index('mango'))

1

In [10]:
print(len(fruits))

7

In [11]:
#How to access the elements of a Tuple:
fruits = ('apple','mango','banana','apple','mango','apple','strawberry')
print(fruits[3])
print(fruits[-3])

apple
mango

In [12]:
fruits[3] = 'Jackfruit'
print(fruits)
#Shows TypeError as tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [13]:
fruits = ('apple','mango','banana','apple','mango','apple','strawberry')
print(fruits[2:7])
#It will print all the elements from index 2 to index 6

('banana', 'apple', 'mango', 'apple', 'strawberry')